*{
    box-sizing: border-box;
}


@media only screen and (max-width: 1024px) {

    body{
        width: 100%;
        margin: 0;
        background: lightcoral;
        opacity: 0.9;
    } 

    #givingForm{
        position: absolute;
        display: none;
        width: 100%;
    }
   
   nav{
       width: 100vw;
   } 

   ul{
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
}

   li{
       display: none;
       list-style-type: none;
       margin: 0 2vw;
       font-size: 2vw;
   }

   a{
    text-decoration: none;
    display: block;
   }
 
   a:hover{
    background-color: rgb(255, 0, 128);
}

    button{
        display: block;
        padding: 2vw;
        font-size: 3vw;
        background-color: yellowgreen;
        border: none;
        outline: none;
        cursor: pointer;
        align-self: flex-start;
    }
}


@media only screen and (min-width: 1025px) {

    body{
        background-color: mediumturquoise;
    }

    #givingForm{
        position: absolute;
        display: none;
        width: 100%;
    }
    
    nav{
        width: 100vw;
        background-color: lightgreen;
    } 

    ul{
        display: flex;
        padding: 5px;
    }

    li{
        list-style-type: none;
        margin: 0 2vw;
        font-size: 2vw;
    }

    a{
        text-decoration: none;
        color: blue;
        padding: 
        2vw;
    }

    a:hover{
        background-color: rgb(255, 0, 128);
    }

    #textBox{
        background: bisque;
        text-align: left;
    }

    button{
        display: none;
    }

    #givingform{
        display: none;
    }
}